@{
    ViewData["Title"] = "Home Page";
}

<Title> @ViewData["Title"] </Title>
<div class="text-center">
    <h1 class="display-4">Welcome to my RSVP PAGE</h1>
    <p>Learn about <a href="https://eventsbrite.com">the Other Parties</a>.</p>
</div>
